footer .container-fluid{
    background-color: black;
    text-align: center;
}
footer .row{
    height: 150px;
}
footer .text{
    color: white;
}
footer .text a{
    text-decoration: none;
}
i.fa-color{
    color: white;
}
i.fa-colors{
    color: black;
}
.title{
    height: 150px;
    background-color:whitesmoke;
}
.top-post img{
    height: 40px;
    width: 40px;
    margin-right: 50px;
}
.post{
    margin-bottom: 10px;
}
.post h1,h3{
    margin-top: 10px;
}
a{
    text-decoration: none;
}
.comments img{
    width: 95%;
    height: 95%;
}
.comments p{
    font-size: 14px;
}
.comment2 img{
    width: 90%;
    height: 90%;
}
.comment2 p{
    font-size: 13px;
}
.posthead{
    text-decoration: none;
    color: black;
}